.action-page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  width: 100%;
  max-width: 2560px;

  background-image: url('../../assets/img/loginBackground.webp');
  background-size: cover;
  background-position: center;
}

.action-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap-reverse;
  align-content: flex-start;
  justify-content: center;
  align-items: center;

  background: var(--color-gunmetal);
  border-radius: 20px;;
  box-shadow: 0px 5px 50px 50px rgba(0, 0, 0, 0.437);
  /* width: clamp(400px, 100%, 1200px); */
  max-width: 1200px;
  width: 90%;
  margin: 50px;
  background-color: var(--color-lightTan);
  border: 10px solid var(--color-gunmetal)
}

.action {
  flex: 1 2 40%;
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  justify-content: center;
  text-align: center;
  min-width: 300px; 
  padding: 20px;
}

.intro {
  flex: 2 0 60%;
  min-width: 200px; 
  padding: 20px;
  background-color: var(--color-lightTan);
  border-radius: 10px;
}

.spotify-button {
  display: flex;
  gap: 30px;
  align-items: center;
  justify-content: center;

  width: clamp(200px, 100%, 300px);
  background-color: var(--color-spotify-green);
}

.component-slider {
  max-width: 600px;
  width: 100%;
  margin: 0 auto;
  padding: 20px;
  text-align: center;

  background-color: var(--color-gunmetal);
  border-radius: 5px;
}

@media screen and (max-width: 600px) {
  .intro {
    min-width: 300px;
  }

  .login-page-container {
    height: auto;
  }
}

